.RangeInput {
  -webkit-appearance: none;
  background: transparent;
}
.RangeInput:focus {
  outline: none;
}
.RangeInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 4.1px;
  border: 0px solid rgba(1, 1, 1, 0);
}
.RangeInput::-webkit-slider-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.025),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 #c9d9e0;
  transition: box-shadow 0.2s;
  border: 0px solid #000000;
  height: 21px;
  width: 12px;
  border-radius: 4px;
  background: #4e7287;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.8px;
}
.RangeInput:focus::-webkit-slider-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.025),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 3px #c9d9e0;
}
.RangeInput:focus::-webkit-slider-runnable-track {
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1);
}
.RangeInput::-moz-range-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 4.1px;
  border: 0px solid rgba(1, 1, 1, 0);
}
.RangeInput::-moz-range-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.025),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 #c9d9e0;
  transition: box-shadow 0.2s;
  border: 0px solid #000000;
  height: 21px;
  width: 12px;
  border-radius: 4px;
  background: #4e7287;
  cursor: pointer;
}
.RangeInput:focus::-moz-range-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.025),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 3px #c9d9e0;
}
.RangeInput::-ms-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  background: #fff;
  border-color: transparent;
  color: transparent;
}
.RangeInput::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 8.2px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1);
}
.RangeInput::-ms-fill-upper {
  background: #fff;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 8.2px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1);
}
.RangeInput::-ms-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.025),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 #c9d9e0;
  transition: box-shadow 0.2s;
  border: 0px solid #000000;
  height: 21px;
  width: 12px;
  border-radius: 4px;
  background: #4e7287;
  cursor: pointer;
  height: 7.4px;
}
.RangeInput:focus::-ms-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 4px rgba(0, 0, 0, 0.025),
    0 0 0 0.5px rgba(0, 0, 0, 0.15), 0 0 0 3px #c9d9e0;
}
.RangeInput:focus::-ms-fill-lower {
  background: #fff;
}
.RangeInput:focus::-ms-fill-upper {
  background: #fff;
}
