.RangeInput {
  -webkit-appearance: none;
  width: 100%;
  margin: 15px 0 30px;
}
.RangeInput:focus {
  outline: none;
}
.RangeInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 0 0.6px 5.8px rgba(0, 0, 0, 0.05), 0px 0px 1.6px rgba(13, 13, 13, 0.125), rgba(167, 210, 243, 0) 0 0 0 0;
  background: #ffffff;
  border-radius: 4.1px;
  border: 0px solid rgba(1, 1, 1, 0);
}
.RangeInput::-webkit-slider-thumb {
  box-shadow: 0 3px 6.9px rgba(0, 0, 0, 0.34), 0px 0px 3px rgba(13, 13, 13, 0.34);
  border: 0px solid #000000;
  height: 21px;
  width: 21px;
  border-radius: 31px;
  background: #8d52d1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.8px;
}
.RangeInput:focus::-webkit-slider-runnable-track {
  box-shadow: 0 0.6px 5.8px rgba(0, 0, 0, 0.2), 0px 0px 1.6px rgba(13, 13, 13, 0.2), rgba(167, 210, 243, 0.75) 0 0 0 3px;
}
.RangeInput::-moz-range-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 0 0.6px 5.8px rgba(0, 0, 0, 0.2), 0px 0px 1.6px rgba(13, 13, 13, 0.2);
  background: #ffffff;
  border-radius: 4.1px;
  border: 0px solid rgba(1, 1, 1, 0);
}
.RangeInput::-moz-range-thumb {
  box-shadow: 0 3px 6.9px rgba(0, 0, 0, 0.34), 0px 0px 3px rgba(13, 13, 13, 0.34);
  border: 0px solid #000000;
  height: 21px;
  width: 21px;
  border-radius: 31px;
  background: #8d52d1;
  cursor: pointer;
}
.RangeInput::-ms-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.RangeInput::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 8.2px;
  box-shadow: 0 0.6px 5.8px rgba(0, 0, 0, 0.2), 0px 0px 1.6px rgba(13, 13, 13, 0.2);
}
.RangeInput::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 8.2px;
  box-shadow: 0 0.6px 5.8px rgba(0, 0, 0, 0.2), 0px 0px 1.6px rgba(13, 13, 13, 0.2);
}
.RangeInput::-ms-thumb {
  box-shadow: 0 3px 6.9px rgba(0, 0, 0, 0.34), 0px 0px 3px rgba(13, 13, 13, 0.34);
  border: 0px solid #000000;
  height: 21px;
  width: 21px;
  border-radius: 31px;
  background: #8d52d1;
  cursor: pointer;
  height: 7.4px;
}
.RangeInput:focus::-ms-fill-lower {
  background: #ffffff;
}
.RangeInput:focus::-ms-fill-upper {
  background: #ffffff;
}
